body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-image: url("https://caro-server.onrender.com/background/caro-background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  z-index: -1;
}
