.form {
  padding-top: 0.9em;
}
.labelUser,
.labelPassword {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #000;
  padding-bottom: 0.2em;
}

.labelUser {
  color: rgb(90, 90, 255);
}

.labelPassword {
  color: rgb(253, 81, 81);
}

.input {
  width: 36vh;
  height: 5.5vh;
  border: 1px transparent;
  font-family: "Fredoka", sans-serif;
  font-size: 1.1em;
  border-radius: 9px;
  text-indent: 1em;
  box-shadow: 1px 1px 2px #000;
  background-color: rgb(255, 251, 245);
}

.input:focus {
  outline: none;
  border-color: rgb(230, 253, 255);
  background-color: rgb(230, 253, 255);
}

.register {
  font-size: 1.5em;
}

.notice {
  font-size: 1.5em;
  font-weight: bold;
}

.register,
.notice {
  padding-top: 1em;
}

.btnLogin {
  font-family: "Fredoka", sans-serif;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 12vh;
  height: 6vh;
  font-size: 1.5rem;
  background-color: rgb(253, 81, 81);
  color: aliceblue;
  box-shadow: 1px 1px 2px #000;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 20vh;
  margin-top: 3vh;
}

.btnLogin:hover {
  cursor: pointer;
  background-color: rgb(90, 90, 255);
}
